.project-title {
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img {
  max-width: 100%;
  height: auto;
}

.repo-cards-div-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.repo-cards-div-main > div {
  flex: 0 1 400px;
  max-width: 400px;
  margin: 10px;
}

/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .project-title {
    font-size: 30px;
    text-align: center;
  }

  .repo-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
